* {
  margin: 0;
}
html, body {
  background-color: #CCCCCC;
  height: 100%;
}
#header {
  background-color: #2098D1;
  color: #FFFFFF;
  width: 100%;
  font-size: 2em;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 2%; 
}
#subhead {
  margin-top: -2%;
}
#navli {
  padding-top: 1%;
}
#navli li  {
  display: inline;
  list-style-type: none;
  margin: 0;
}
#accomplishments li {
  list-style-type: none; 
}
#content {
  background-color: #F8F8F8;
  text-align: center;
  padding: 1% 2% 1% 2%;
  font-size: 1.5em;
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 0 -4em; /* the bottom margin is the negative value of the footer's height */
}
#content table {
  width: 96%;
}
#port {
  display: block;
  border-spacing: 50px;
  border-collapse: separate;
}
.blog {
  text-align: left;
}
#footer, #push {
  height: 4em; /* .push must be the same height as .footer */
}

#footer {
  background-color: #222222;
  color: #FFFFFF;
  margin-top: 0 auto;
  padding: 5% 1% 23% 1%;
  max-height: 14%;
}
#prof {
  float: left;
}
#summary {
  width: 20%;
  height: 7%;
  float:left;
  margin-left: 1%;
}
#skills {
  width: 12%;
  height: 7%;
  float:left;
  clear: right;
  margin-left: 3%;
}

#follow {
  width: 14%;
  height: 7%;
  float:left;
  clear: right;
  margin-left: 1%;
}
#contact {
  width: 12%;
  height: 7%;
  float:left;
  clear: right;
  margin-left: 3%;
}

li {
  list-style-type: none;
}
a:link {
    text-decoration: none;
    color: #FFFFFF;
}

a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

  a.current {
  text-decoration: none;
  color: #33363B;

}

a:hover {
  color: #33363B;
}
#footer a:hover {
  color: #FFFFFF;
}